<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapimCognition</title>
    <link rel="stylesheet" href="../static/style.css"> <!-- Link para o CSS -->
</head>

<body>
    <div class="container">
        <h1>CapimCognition</h1>
        <div class="chatbox">
            <div class="messages" id="messages"></div>
            <div class="input-area">
                <input type="text" id="user_input" placeholder="Digite sua mensagem...">
                <button id="send_button">Enviar</button>
            </div>
        </div>
    </div>

    <script src="../static/chat.js"></script> <!-- Link para o JavaScript -->
</body>

</html>
